*{
    margin: 0px;
    padding: 0px;
}
body{
font-family: Arial, Helvetica, sans-serif;
overflow-x: hidden;
}
header{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #995604;
    color: aliceblue;
    width: 100vw;

    }
header > h1{
    letter-spacing: 3px;
}

 nav a{
    list-style-type: none;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
    position: relative;
} 
 nav > a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color:rgb(255, 255, 255) ;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition:0.5s ease-in-out;

 }

 nav > a:hover::after{
    width: 100%;
   
 } 

section{
    display:flex;
    justify-content:center;
    margin: 10px;
    margin-top: 10%;
  
    
}

#central{
    width: 500px;
    font-size: 30px;
    margin-top: 30px;
  margin-right: 5%;
    position: relative;
    right: 5%;
    

}

#central > h2{
    color: rgb(175, 100, 8);
    padding: 10px;
    letter-spacing: 3px;
    font-size:60px;
}

#central > p{
    font-size: 30px;
}

#img{
    width: 500px;
     height: 500px;
     margin-left: 10%;
    
}

.vtd{
    width: 500px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.vtd > i{
    margin-bottom: 10px;
    margin: auto;

}
.vtd > p{
    margin-top: 5%;
    
}
.vtd > h4{
    margin: 10px;
}

#central02{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 10%;
   
} 
hr{
     position: relative;
    top: 10vw; 
    width: 600px;
    margin: auto;
}

#clock{
    padding-top: 10px;
}
#quali{
    position: relative;
    left: 1%;
}
#erro{
    position:relative ;
    left: 5%;
}
#parallax{
    background-image: url(imgs/pexels-marta-dzedyshko-2067628.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 50vw;
    margin-left: 0px;
    
}

.imgs{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
#card01{
    margin: 20px; 
}
.cards{
    width: 400px;
    height: 600px;
    font-size: 20px;
    background-color: rgba(202, 199, 199, 0.637);
    margin-right: 10px;
    margin: 30px;
    align-items: center;
    flex-direction: column;

    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.226);
    border-radius: 20px;
}
.cards > h2{
    padding: 20px;
    letter-spacing: 3px;
}

.cards > p{
    padding: 20px;
    
}
.cards > img{
    padding: 30px;
    
}
 .cards > a{
    margin-top: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: rgb(8, 197, 8);
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
} 
.cards > a:hover{
    background-color: #ac5e00a6;
}



footer{
    background-color: rgb(153, 86, 4);
   color :white;
   font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 5px;
}
@media screen and (max-width: 1367px){
    #prin{
        display: flex;
        
        align-items: center;
    }
   #img{
       width: 400px;
       height: 400px;
       margin-left: 0%;
 
   }
   #central{
    width: 520px;
     font-size: 25px;
    margin-top: 30px;
    margin-right: 2px;
    position: relative;
     left: 2px;
}
.cards{
    width: 400px;
    height: 600px;
    font-size: 20px;
    background-color: rgba(202, 199, 199, 0.637);
    margin-right: 10px;
    margin: 30px;
    align-items: center;
    flex-direction: column;

    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.226);
    border-radius: 20px;
}
.cards > h2{
    padding: 20px;
    letter-spacing: 3px;
}

.cards > p{
    padding: 20px;
    
}
.cards > img{
    padding: 30px;
    
}
 .cards > a{
    margin-top: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: rgb(8, 197, 8);
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
} 
.cards > a:hover{
    background-color: #ac5e00a6;
}
}

@media screen and (max-width: 1366px){
    #central{
        width: 520px;
         font-size: 25px;
        margin-top: 30px;
        margin-right: 4%;
        position: relative;
         left: 1px; 
    }
    .cards{
        width: 400px;
        height: 600px;
        font-size: 20px;
        background-color: rgba(202, 199, 199, 0.637);
        margin-right: 10px;
        margin: 30px;
        align-items: center;
        flex-direction: column;
    
        text-align: center;
        padding: 20px;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.226);
        border-radius: 20px;
    }
    .cards > h2{
        padding: 20px;
        letter-spacing: 3px;
    }
    
    .cards > p{
        padding: 20px;
        
    }
    .cards > img{
        padding: 30px;
        
    }
     .cards > a{
        margin-top: 10px;
        text-decoration: none;
        padding: 10px;
        color: white;
        background-color: rgb(8, 197, 8);
        border-radius: 20px;
        font-size: 17px;
        font-weight: bold;
    } 
    .cards > a:hover{
        background-color: #ac5e00a6;
    }
}
 @media screen and (max-width: 1020px){
    #img{
        width: 400px;
        height: 400px;
  
    }
    #central{
        width: 500px;
         font-size: 25px;
        margin-top: 30px;
        margin-right: 4%;
        position: relative;
         left: 1px;
       
        
    
    }
    #central > h2{
        color: rgb(175, 100, 8);
        padding: 10px;
        letter-spacing: 3px;
        font-size:50px;
    }
    
    #central > p{
        font-size: 25px;
    }
    #erro{
        position:relative ;
        left: 1%;
    }
    /* .bnt2{
        margin-top: 10px;
    } */

    .cards{
        width: 400px;
        height: 600px;
        font-size: 20px;
        background-color: rgba(202, 199, 199, 0.637);
        margin-right: 10px;
        margin: 30px;
        align-items: center;
        flex-direction: column;
    
        text-align: center;
        padding: 20px;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.226);
        border-radius: 20px;
    }
    .cards > h2{
        padding: 20px;
        letter-spacing: 3px;
    }
    
    .cards > p{
        padding: 20px;
        
    }
    .cards > img{
        padding: 30px;
        
    }
     .cards > a{
        margin-top: 10px;
        text-decoration: none;
        padding: 10px;
        color: white;
        background-color: rgb(8, 197, 8);
        border-radius: 20px;
        font-size: 17px;
        font-weight: bold;
    } 
    .cards > a:hover{
        background-color: #ac5e00a6;
    }

} 
@media screen and (max-width: 936px){
    #card01{
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
     /* .cards{
        width: 400px;
        height: 600px;
        font-size: 20px;
        background-color: rgba(202, 199, 199, 0.637);
        
        margin: 30px;
        text-align: center;
        padding: 20px;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.226);
        border-radius: 20px;
    }
    .cards > h2{
        padding: 10px;
        margin: 10px;
        letter-spacing: 3px;
    }
    
    .cards > p{
        padding: 20px;
        
    }
    .cards > img{
        padding: 30px;
        
    }
    .cards > a{
        margin-top: 10px;
        text-decoration: none;
        padding: 10px;
        color: white;
        background-color: rgb(8, 197, 8);
        border-radius: 20px;
        font-size: 20px;
    }  */

    .cards{
        width: 400px;
        height: 600px;
        font-size: 20px;
        background-color: rgba(202, 199, 199, 0.637);
        margin-right: 10px;
        margin: 30px;
        align-items: center;
        flex-direction: column;
    
        text-align: center;
        padding: 20px;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.226);
        border-radius: 20px;
    }
    .cards > h2{
        padding: 20px;
        letter-spacing: 3px;
    }
    
    .cards > p{
        padding: 20px;
        
    }
    .cards > img{
        padding: 30px;
        
    }
     .cards > a{
        margin-top: 10px;
        text-decoration: none;
        padding: 10px;
        color: white;
        background-color: rgb(8, 197, 8);
        border-radius: 20px;
        font-size: 17px;
        font-weight: bold;
    } 
    .cards > a:hover{
        background-color: #ac5e00a6;
    }
}


@media screen and (max-width: 728px){
    #prin{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   #img{
       width: 400px;
       height: 400px;
       margin-left: 1%;
 
   }
   #central{
       width: 450px;
        font-size: 25px;
       margin-top: 30px;
       margin-right: 2px;
       margin-bottom: 15px;
       position: relative;
        left: 10px;
        
   }
   #central > h2{
       color: rgb(175, 100, 8);
       padding: 10px;
       letter-spacing: 3px;
       font-size:55px;
   }
   
   #central > p{
       font-size: 25px;
       width: 400px;
       padding: 10px;
      
   }
   #erro{
       position:relative ;
       left: 1%;
   }

   hr{
    position: relative;
   top: 10vw; 
   width: 300px;
   margin: auto;
}

.imgs{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
#card01{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
/* .cards{
    width: 420px;
    height: 600px;
    font-size: 20px;
    background-color: rgba(202, 199, 199, 0.637);
    margin: 30px;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.226);
    border-radius: 20px;
}
.cards > h2{
    padding: 10px;
    letter-spacing: 3px;
}

.cards > p{
    padding: 20px;
    
}
.cards > img{
    padding: 30px;
    
}
.cards > a{
    margin-top: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: rgb(8, 197, 8);
    border-radius: 20px;
    font-size: 20px;
} */
.cards{
    width: 400px;
    height: 600px;
    font-size: 20px;
    background-color: rgba(202, 199, 199, 0.637);
    margin-right: 10px;
    margin: 30px;
    align-items: center;
    flex-direction: column;

    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.226);
    border-radius: 20px;
}
.cards > h2{
    padding: 20px;
    letter-spacing: 3px;
}

.cards > p{
    padding: 20px;
    
}
.cards > img{
    padding: 30px;
    
}
 .cards > a{
    margin-top: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: rgb(8, 197, 8);
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
} 
.cards > a:hover{
    background-color: #ac5e00a6;
}
} 

@media screen and (max-width: 375px){
    header{
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #995604;
        color: aliceblue;
        width: 100vw;
    
        }
    #prin{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   #img{
       width: 310px;
       height: 310px;
       margin-right: 20px;
       align-items:center ;
 
   }
   #central{
       width: 320px;
        font-size: 25px;
       margin-top: 30px;
       margin-right: 2px;
       margin-bottom: 15px;
       position: relative;
        left: 20px;
        
   }
   #central > h2{
       color: rgb(175, 100, 8);
       padding: 10px;
       letter-spacing: 3px;
       font-size:54px;
   }
   
   #central > p{
       font-size: 25px;
       width: 250px;
       padding: 10px;
      
   }
   #central02{
    position: relative;
    left: 2%;
   }
   #erro{
       position:relative ;
       left: 1%;
   }

   hr{
    position: relative;
   top: 10vw; 
   width: 200px;
   margin: auto;
}
#parallax{
    background-image: url(imgs/pexels-marta-dzedyshko-2067628.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    width: 120vw;
    height: 50vw;
    margin-left: 0px;
    
}
.imgs{
    width: 180px;
    height: 180px;
    object-fit: cover;
}
#card01{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.cards{
    width: 250px;
    height: 450px;
    font-size: 18px;
    background-color: rgba(202, 199, 199, 0.637);
    margin-right: 10px;
    margin: 30px;
    align-items: center;
    flex-direction: column;

    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.226);
    border-radius: 20px;
}
.cards > h2{
    padding: 10px;
    letter-spacing: 3px;
}

.cards > p{
    padding: 20px;
    width: 200px;
    
}
.cards > img{
    padding: 30px;
    
}
 .cards > a{
    margin-top: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: rgb(8, 197, 8);
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
} 
.cards > a:hover{
    background-color: #ac5e00a6;
}
}