*{
    margin: 0px;
    padding: 0px;
    
}
body{
font-family: Arial, Helvetica, sans-serif;
overflow-x: hidden;
}
header{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #995604;
    color: aliceblue;
    width: 100vw;

    }
header > h1{
    letter-spacing: 3px;
}

 nav a{
    list-style-type: none;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
    position: relative;
} 
 nav > a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color:rgb(255, 255, 255) ;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition:0.5s ease-in-out;

 }

 nav > a:hover::after{
    width: 100%;
   
 } 

section{
    display:flex;
    justify-content:center;
    margin: 10px;
    margin-top: 10%;
  
    
}

#central{
    width: 500px;
    font-size: 30px;
    margin-top: 30px;
  margin-right: 5%;
    position: relative;
    right: 5%;
    

}

#central > h2{
    color: rgb(175, 100, 8);
    padding: 10px;
    letter-spacing: 3px;
    font-size:60px;
}

#central > p{
    font-size: 30px;
}

#img{
    width: 500px;
     height: 500px;
     margin-left: 10%;
    
}

.vtd{
    width: 500px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.vtd > i{
    margin-bottom: 10px;
    margin: auto;

}
.vtd > p{
    margin-top: 5%;
    
}
.vtd > h4{
    margin: 10px;
}

#central02{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 10%;
   
} 
hr{
     position: relative;
    top: 10vw; 
    width: 600px;
    margin: auto;
}

#clock{
    padding-top: 10px;
}
#quali{
    position: relative;
    left: 1%;
}
#erro{
    position:relative ;
    left: 2%;
}
#parallax{
    background-image: url(imgs/pexels-marta-dzedyshko-2067628.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 50vw;
    margin-left: 0px;
    
}

.imgs{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
#card01{
    margin: 20px; 
}
.cards{
    width: 400px;
    height: 600px;
    font-size: 20px;
    background-color: rgba(202, 199, 199, 0.637);
    margin-right: 10px;
    margin: 30px;
    align-items: center;
    flex-direction: column;

    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.226);
    border-radius: 20px;
}
.cards > h2{
    padding: 20px;
    letter-spacing: 3px;
}

.cards > p{
    padding: 20px;
    
}
.cards > img{
    padding: 30px;
    
}
 .cards > a{
    margin-top: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: rgb(8, 197, 8);
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
} 
.cards > a:hover{
    background-color: #ac5e00a6;
}



footer{
    background-color: rgb(153, 86, 4);
   color :white;
   font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 100vw;
}
/* @media screen and (min-width: 1366px) and (max-width: 1680px) {
  } */

  @media screen and (min-width: 1024px) and (max-width: 1366px) {

    #central{
        width: 500px;
        font-size: 30px;
        margin-top: 30px;
      margin-right: 5%;
        position: relative;
        right: 0%;
        
    
    }
    
    #central > h2{
        color: rgb(175, 100, 8);
        padding: 10px;
        letter-spacing: 3px;
        font-size:60px;
    }
    
    #central > p{
        font-size: 30px;
    }

    #img{
        width: 400px;
         height: 400px;
         margin-left: 10%;
        
    }
  }

  @media screen and (min-width: 500px) and (max-width: 1024px) {
   /* #prin{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} */
   #central{
    width: 400px;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 15px;
  margin-right: 1%;
    position: relative;
    right: 0%;
    

}

#central > h2{
    color: rgb(175, 100, 8);
    padding: 10px;
    letter-spacing: 3px;
    font-size:55px;
}

#central > p{
    font-size: 30px;
}
#img{
    width: 400px;
     height: 400px;
     margin-left: 4%;
    
}
#parallax{
    background-image: url(imgs/pexels-marta-dzedyshko-2067628.jpg);
    background-position: left center;
    background-size: cover;
    width: 110vw;
    height: 50vw;
    margin-left: 0px;
    
}

#card01{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .cards{
    width: 350px;
    height: 550px;
    font-size: 20px;
    background-color: rgba(202, 199, 199, 0.637);
    margin-right: 10px;
    margin: 30px;
    align-items: center;
    flex-direction: column;

    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.226);
    border-radius: 20px;
}

.imgs{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
  }

  @media screen and (max-width: 800px) {
    #prin{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #central{
        width: 500px;
        font-size: 30px;
        margin-top: 30px;
      margin-right: 2%;
        position: relative;
        right: 0%;
        
    
    }
    
    #central > h2{
        color: rgb(175, 100, 8);
        padding: 10px;
        letter-spacing: 3px;
        font-size:55px;
    }
    
    #central > p{
        font-size: 30px;
    }
    #img{
        width: 400px;
         height: 400px;
         margin-left: 4%;
        
    }
    hr{
        position: relative;
       top: 10vw; 
       width: 400px;
       margin: auto;
   }
   #parallax{
    background-image: url(imgs/pexels-marta-dzedyshko-2067628.jpg);
    background-position: left center;
    background-size: cover;
    width: 110vw;
    height: 50vw;
    margin-left: 0px;
    
}

   #card01{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .cards{
    width: 300px;
    height: 500px;
    font-size: 20px;
    background-color: rgba(202, 199, 199, 0.637);
    margin-right: 10px;
    margin: 30px;
    align-items: center;
    flex-direction: column;

    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.226);
    border-radius: 20px;
}

.imgs{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
  }

  @media screen and  (max-width: 667px) {
    #prin{
       margin: auto;
    }
    #central{
        width: 400px;
        font-size: 30px;
        margin-top: 30px;
      margin-right: 2%;
        position: relative;
        right: 0%;
        
    
    }

    #central > h2{
        color: rgb(175, 100, 8);
        padding: 10px;
        letter-spacing: 3px;
        font-size:40px;
    }
    
    #central > p{
        font-size: 25px;
    }
  }

  @media screen and (max-width: 480px) {
    /* Estilos para celulares com largura muito pequena */
    #prin{
        margin: auto;
        margin-left: 2%;
     }
     #central{
         width: 300px;
         font-size: 30px;
         margin-top: 30px;
       margin-right: 1%;
         position: relative;
         right: 0%;
     }
     #central > h2{
        color: rgb(175, 100, 8);
        padding: 10px;
        letter-spacing: 3px;
        font-size:40px;
    }
    
    #central > p{
        font-size: 25px;
    }
    #img{
        width: 300px;
         height:300px;
         margin-left: 4%;
        
    }

    hr{
        position: relative;
       top: 10vw; 
       width: 200px;
       margin: auto;
   }

   #card01{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
#parallax{
    background-image: url(imgs/pexels-marta-dzedyshko-2067628.jpg);
    background-position:left center;
    background-size: cover;
    width: 106vw;
    height: 50vw;
    margin-left: 0px;
    
}

.cards{
    width: 250px;
    height: 490px;
    font-size: 18px;
    background-color: rgba(202, 199, 199, 0.637);
    margin-right: 10px;
    margin: 30px;
    align-items: center;
    flex-direction: column;

    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.226);
    border-radius: 20px;
}
.cards > h2{
    padding: 10px;
    letter-spacing: 3px;
}

.cards > p{
    padding: 20px;
    width: 200px;
    
}
.cards > img{
    padding: 30px;
    
}
 .cards > a{
    margin-top: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: rgb(8, 197, 8);
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
} 

.imgs{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
  }